body {
  background: #6e6687;
}

.App {
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
}

.App {
  background: rgba(0, 0, 0, 0.6);
}
.App {
  border: 5px solid #6e6687;
  margin: 20px;
}
