body {
  background: #6e6687;
}

.App {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
}
