.WeatherForecast {
  text-align: center;
  font-size: 24px;
}

.ForecastTemperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.ForecastCol {
  background: #6e6687;
  border-radius: 30px;
  margin: 10px;
}

div.forecast {
  padding-right: 50px;
}
