ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 28px;
  padding-bottom: 5px;
  margin-left: 50px;
}
form {
  text-align: left;
  margin-left: 50px;
}
h1 {
  font-size: 54px;
  text-align: left;
  margin-left: 10px;
  margin-top: 20px;
}

input {
  border-radius: 5px;
}
button {
  background-color: #6e6687;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
}

div.col-3 {
  padding: 0 12px 0 80px;
}

h1.citySearch {
  margin-left: 50px;
}

span.col-3 {
  text-align: center;
  font-size: 24px;
}
div.float-left {
  margin-left: 100px;
}

.col-6 {
  padding-left: 50px;
}
.temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
}
.units {
  font-size: 24px;
}

.forecast {
  padding-left: 50px;
}
.updated {
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}
.extraDetail {
  text-align: center;
  margin-top: 35px;
}
.iconTemp {
  margin-left: 30px;
}
